*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: black;
}

.container-notation-interactive{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.card-notation-interactive{
    background-color: rgba(255, 255, 255, 0.3);
    width: 23%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenu-card-remerciement{
    padding: 20px;
    width: 90%;
    text-align: center;
}

.image-remerciement{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    margin: 15px;
}

.note-choisi{
    display: flex;
    justify-content: center;
}

.texte-note-choisi{
    background-color: rgba(255, 116, 30, 0.1);
    width: 70%;
    margin-top: 25px;
    border-radius: 10px;
    padding: 5px;
    color: #ff741e;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.contenu-card-remerciement h1{
    color: white;
    margin: px;
    font-size: 1.6rem;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.message-remerciement{
    font-size: 15px;
    color: #9CA6B3;
    width: 100%;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    }


.footer-card{
    margin-top: 10px;
}

h2{
    font-size: medium;
    font-family: "Overpass", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255, 0.3);
}

.souligne {
    text-decoration: underline ;
    color: hsl(216, 46%, 42%);
}

@media (max-width: 768px) {
    .card-notation-interactive {
        width: 90%; /* Réduit la taille de la carte sur les petits écrans */
    }

    .contenu-card-remerciement h1 {
        font-size: 1.4rem; /* Réduit la taille du titre */
    }

    .texte-note-choisi {
        width: 80%; /* Augmente la largeur de la note choisie */
    }

    .message-remerciement {
        font-size: 14px; /* Réduit la taille du texte pour l'adapter aux petits écrans */
    }

    .container-notation-interactive h2 {
        font-size: 12px; /* Réduit la taille du texte du codeur */
    }
}

/* Médias Queries pour très petits écrans (téléphone en mode portrait) */
@media (max-width: 480px) {
    .contenu-card-remerciement h1 {
        font-size: 1.2rem; /* Taille du titre encore plus petite */
    }

    .message-remerciement {
        font-size: 12px; /* Taille du texte plus petite pour les petits écrans */
    }

    .texte-note-choisi {
        width: 100%; /* La note choisie prend toute la largeur sur les très petits écrans */
    }
}