*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: black;
}

.container-notation-interactive{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.card-notation-interactive{
    background-color: rgba(255, 255, 255, 0.3);
    width: 23%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenu-card{
    padding: 20px;
    width: 90%;
}

.etoile{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.etoile i{
    font-size: 20px;
    color: #ff741e;
}

.contenu-card h1{
    font-size: 1.6rem;
    margin-bottom: 15px;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.contenu-card p{
    font-size: 15px;
    color: #9CA6B3;
    width: 100%;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.note{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.button-note{
    border: none;
    color: rgb(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    padding: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column-reverse;
    text-align: center;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container-button-envoyer{
    display: flex;
    justify-content: center;
}

.button-envoyer{
    background-color: #ff741e;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
    border: none;
    color: white;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.footer-card{
    margin-top: 10px;
}

h2{
    font-size: medium;
    font-family: "Overpass", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255, 0.3);
}

.souligne {
    text-decoration: underline ;
    color: hsl(216, 46%, 42%);
}

@media (max-width: 768px) {
    .card-notation-interactive{
        width: 90%;
    }
    .note{
        gap: 8px;
    }
    .button-note{
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
}